@model IEnumerable<ProjectManagment_class.Models.Project>

@{
    ViewData["Title"] = "Проєкти";
}

<h1>Проєкти</h1>

<p>
    @Html.ActionLink("Додати новий проєкт", "Create", new { projectId = ViewBag.ProjectId })
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProjectName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateEnd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Manager)
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.ProjectId)
            </th> *@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateEnd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Manager.Email)
            </td>
            @* <td>
                    @Html.DisplayFor(modelItem => item.ProjectId)
            </td> *@
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProjectId">Редагувати</a> |
                <a asp-action="Details" asp-route-id="@item.ProjectId">Деталі</a> |
                <a asp-action="Delete" asp-route-id="@item.ProjectId">Видалити</a>
            </td>
        </tr>
}
    </tbody>
</table>
